/* color */
/*rgb(0,170,231)
rgb(33,218,176)*/

$color-purple: #957bbe;
$color-lightblue: #daeeff; 
$color-cream: #fae3c4;
$color-bootstrap: #563d7c;
$color-alertgreen: #dff0d8;
$color-bordergreen: #d0e9c6;
$color-alertblue: #d9edf7;
$color-borderblue: #bcdff1;
$color-alertyellow: #fcf8e3;
$color-borderyellow: #faf2cc;
$color-alertred: #f2dede;
$color-borderred: #ebcccc;
$color-cardgreen: #5cb85c;
$color-cardblue: #5bc0de;
$color-cardyellow: #f0ad4e;
$color-cardred: #d9534f;
$color-sribu: #c73130;

// Packages color
$color-saver: transparentize(#5bc0de, 0.1);
$color-bronze: #E0B490;
$color-silver: #b2b2b2;
$color-gold: #e8b954;
body {
  overflow-x: hidden;
}
@import url('https://fonts.googleapis.com/css?family=Roboto');

[class*="hl-box"] {
  border: 1px solid rgba(255,255,255,.1);
  height: 200px;
  width: 100%;
  padding-top: 10px;
  color: #fff;
  font-family: 'Roboto', sans-serif;

}

[class*="hl__desc"] {
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;

}

[class*="hl__count"] {
  text-align: center;
  background: -webkit-linear-gradient(left,rgb(0,170,231), rgb(33,218,176));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

[class*="hl__percentage"] {
  text-align: center;
  background: -webkit-linear-gradient(left,rgb(0,170,231), rgb(33,218,176));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 15px;
}

[class*="hl__sales"] {
  text-align: center;
  background: -webkit-linear-gradient(left,rgb(0,170,231), rgb(33,218,176));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 25px;
}
/*a:visited {
  color: #fff;
}*/
.icon-white {
  background-color: transparent !important;
  border: 2px solid #fff;
  color: #fff !important;
  position: relative;
  &:hover {
    background-color: #fff;
    color: $color-sribu !important;
    border-color: #fff;
    transition: all 0.5s ease-in-out 0s;
  }
}
.even {
  background-color: #0b1b28;
}
.hl-bottom-box {
  margin-top: 30px;
  height: 20%;
  text-align: center;
}
.border-divider {
  margin-bottom: 25px;
}
.hl-box {
  &--ch {
    border-color: $color-cardred;
    position: relative;
    &:before {
      content: "CH";
      position: absolute;
      top: 40%;
      left: 61.5%;
      bottom: 0;
      right: 0;
      font-size: 30px;
      font-weight: 800px;
      color: #fff;
    }
  }
  &--designer {
    border-color: $color-cardblue;
    &:before {
      content: "Designers";
      position: absolute;
      top: 40%;
      left: 40%;
      bottom: 0;
      right: 0;
      font-size: 30px;
      font-weight: 800px;
      color: #fff;
    }
  }
  &--designer-mini {
    border-color: $color-cardblue;
    &:before {
      content: "Designers";
      position: absolute;
      top: 40%;
      left: 40%;
      bottom: 0;
      right: 0;
      font-size: 20px;
      font-weight: 800px;
      color: #fff;
    }
  }
  &--contest {
    border-color: $color-cardgreen;
    &:before {
      content: "Contests";
      position: absolute;
      top: 40%;
      left: 40%;
      bottom: 0;
      right: 0;
      font-size: 30px;
      font-weight: 800px;
      color: #fff;
    }
  }
}
.hl {
  &__count {
    font-weight: 400;
    font-size: 40px;
    position: relative;
  }
  
  &__title {
    font-weight: 500;
    font-size: 40px;
    margin-top: 0;
    padding-top: 20px;
    padding-left: 20px;
    opacity: 0.5;
    color: $color-sribu;
  }

  &__desc {
    &--red {
      font-size: 20px;
      margin-top: 30px;
      color: $color-cardred;
      
    }
    &--blue {
      font-size: 20px;
      margin-top: 30px;
      color: $color-cardblue;
     
    }
    &--green {
      font-size: 20px;
      margin-top: 30px;
      color: $color-cardgreen;
    }

    &--yellow {
      font-size: 20px;
      margin-top: 30px;
      color: $color-cardyellow;
    }

    &--saver {
      font-size: 20px;
      margin-top: 30px;
      color: $color-saver;
      
    }
    &--bronze {
      font-size: 20px;
      margin-top: 30px;
      color: $color-bronze;
     
    }
    &--silver {
      font-size: 20px;
      margin-top: 30px;
      color: $color-silver;
    }
    &--gold {
      font-size: 20px;
      margin-top: 30px;
      color: $color-gold;
    }
  }

  &__sales {
    &-currency {
      font-size: 15px;
    }
  }

}

.hl-rightbar {
  height: 898px;
  width: 100%;
  border-left: 2px solid $color-bootstrap;
}

#view-selector-container {
  margin-bottom: 30px;
}
/* Toggle Styles */

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
  background-color: #031421;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
  padding-right: 0;
  padding-left: 0;
}

/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

@media(min-width:768px) {
  #wrapper {
      padding-left: 250px;
  }

  #wrapper.toggled {
      padding-left: 0;
  }

  #sidebar-wrapper {
      width: 250px;
      position: fixed;
  }

  #wrapper.toggled #sidebar-wrapper {
      width: 0;
  }

  #page-content-wrapper {
      padding: 20px;
      position: relative;
  }

  #wrapper.toggled #page-content-wrapper {
      position: relative;
      margin-right: 0;
  }
}
